* {
  box-sizing: border-box;
}
.threedot {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 50%, 0.38);
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 8px;
}

.slide_image.activeSlide {
  transform: translateX(0);
  opacity: 1;
}
.slide_image.nextSlide {
  transform: translateX(100%);
}
.slide_image.lastSlide {
  transform: translateX(-100%);
}
.slide_image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all ease 0.7s;
  object-fit: conver;
}
